/* width 1280 px */
body {
  background-color: black;
width: 1280px;
}

.header {
  padding-top: 20px;
}

.menu_buttons,
.social_icons {
  padding-left: 0px;
}

.logo,
.main_menu,
.main_menu ul>li,
.social_icons,
.social_icons ul {
  display: inline-block;
  align: left;
}

.prices_list a,
.footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.prices_list a {
  font-size: 25px;
}

.social_icons ul {
  color: white;
  font-size: 20px;
  vertical-align: bottom;
}

.social_icons ul .login_in {
  font-size: 16px;
  text-decoration: underline;
  border-style: none;
  padding: 7px;
  color: rgb(117, 226, 144);
  font-family: 'Raleway', sans-serif;
  line-height: 3;
}

hr {
  border-width: 2px;
  border-style: solid;
  color: white;
}

.header {
  text-align: center;
}

.menu_buttons a {
  color: white;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 15px;
  font-family: 'RaleWay', sans-serif;
  margin: 15px;
}

h1 {
  font-size: 80px;
  font-weight: bolder;
  margin-top: 40px;
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4,
h5 {
  color: white;
  text-align: center;
  word-spacing: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  vertical-align: middle;
  margin: 0px;
}

h4 {
  margin-left: 125px;
}

h5 {
  margin-left: 50px;
}

.quote,
.block_quote {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

blockquote p {
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 2.3;
  margin-left: 5px;
}

.prices_txt ul>li {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
}

.prices_list ul>li {
  display: inline-block;
  padding: 20px;
  border: 3px solid white;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.prices_list a {
  display: inline-block;
  border: 3px solid white;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prices_list ul {
  text-align: center;
}

.note {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-style: italic;
}


.solo_artist img,
.four_boxes img{
  float: left;
  clear: both;
  overflow: hidden;
}

.solo_artist img,
.images,
.artists,
.accomodation,
.location,
.transport,
.experiences {
  float: left;
}

.container h6 {
  margin-left: 180px;
  margin-right: 60px;
}

h6 {
  color: white;
  text-align: center;
  word-spacing: 7px;
  font-family: 'Orbitron', monospace;
  font-size: 20px;
  vertical-align: middle;
}

.newsletter {
  display: inline-block;
}

.container,
.subscribe {
  display: inline-block;
  line-height: 1.8
}

.footer p {
  font-size: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.about,
.socials,
.image_copyright,
.menu2,
.search_button {
  float: left;
  text-align: center;
  margin: 25px;
  line-height: 1.7
}

.image_copyright,
.link p {
  margin: 0px;
}

.search_button input {
  margin-top: 30px;
  width: 180px;
}

/* Pixels - fine grained control
Percentage - based on the parents width
Elements will collapse and expand based
on what is inside of it - auto is a
default rule
Viewport Width + VH -  percentage of browser
Em - typographic ratio for text sizing mainly
*/
